/*imports*/
/*animation*/
/*style*/
.box {
  width: 100%;
  border-radius: 6px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin-bottom: 30px;
  position: relative; }
  .box:hover .legend-black {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    display: none; }
  .box:hover .title-g {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    opacity: 1; }
  .box .title-g {
    opacity: 0;
    font-size: 21px;
	color: #FFFFFF
}
  .box a {
    display: block;
    color: #FF0004;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 50px 25px;
    height: 200px;
    border-radius: 6px; }
  .box a:hover {
    background-color: rgba(0, 0, 0, 0.7); }

.legend-black {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 14px;
  text-align: left;
  padding: 6px 12px;
  border-radius: 0 0 6px 6px; }
  .padding-top {
    padding-top: 18px;
  }
@media screen and (max-width: 992px) {
  .box .title-g {
    font-size: 14px; } }




/*style comunidades texto centralizado na imagem*/

.containercom {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-leftcom {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.top-leftcom {
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-rightcom {
    position: absolute;
    top: 8px;
    right: 16px;
}

.bottom-rightcom {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.centeredcom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*# sourceMappingURL=style.css.map */
