.wcm_widget{
	border: 0px solid #fff; 
}
.wcm_widget_esq{
	border: 1px solid #ccc;
	width:372px;
	height:auto;
	float:left;
	margin:5px 5px 5px 0px;
}
.wcm_widget_dir{
	border: 1px solid #ccc;
	width:372px;
	height:auto;
	float:right;
	margin:5px 0px 5px 0px;
}
.wcm_corpo_widget{
	width:auto;
	height:auto;
}
.wcm_corpo_widget_single{
	margin:5px;
}
.wcm_title_widget {
	width:auto;
	height:35px;
	min-height: 10px;
	padding: 10px;
	font-size: 14px;
}
.wcm_title_text_widget{
	color:#333;
	float:left;
	width: 90%;
	overflow: hidden;
}
.wcm_opcoes_widget{
	float:right;
	padding:5px 10px 0px 0px;
}
.wcm_opcoes_widget a{
	color: #0A8ECC;
	padding:5px;
}
.wcm_opcoes_widget a:hover{
	color: #777;
}
.wcm_controles_widgets{
	float:right;
}
.wcm_controles_widgets ul{
	padding: 0px;
	margin: 0px;
}
.wcm_controles_widgets a {
	padding-left:5px;
	border: none;
	color: #FFF;
	text-decoration: none;
}
.wcm_controles_widgets ul li {
	display: inline;
	list-style: none;
}
.wcm_controles_widgets ul li ul {
	background:#fff;
	border:1px solid #ccc;
	border-radius: 5px;
	display:none;
	padding:5px;
	position:absolute;
	width:auto;
	min-width:150px;
	margin-left: -130px;
	text-align: right;
	list-style:none;
	-moz-box-shadow:1px 1px 1px 1px #e4e4e4;
  	-webkit-box-shadow:1px 1px 1px 1px #e4e4e4;
  	box-shadow:1px 1px 1px 1px #e4e4e4;
	z-index:99999;
}
.wcm_controles_widgets ul li ul li a{
	padding: 3px;
	display: block;
	color: #000;
}
.wcm_controles_widgets ul li ul li a:hover {
	background-color:#eee;
}
.wcm_exibe_paginacao{
	padding: 0px 0px 0px 10px;
	color:#777;
}
.wcm_exibe_paginacao a{
	color: #0A8ECC;
}
.wcm_exibe_paginacao a:hover{
	color: #777;
}
.wcm_rodape_widget{
	width:auto;
	height:40px;
}
.wcm_acoes_rodape{
	float:right;
	padding: 10px;
}
.wcm_acoes_rodape a{
	padding: 0px 0px 0px 10px;
	color: #0A8ECC;
}
.wcm_acoes_rodape a:hover{
	padding: 0px 0px 0px 10px;
	color: #777;
}
.wcm_pipe{
padding: 0px 0px 0px 10px;
color: #0A8ECC;
}
.wcm_filtro {
	width:auto;
	height:auto;
	padding:7px;
}
.wcm_filtro input{
		width:300px;	
}
.wcm_filtro a{
	padding: 0px 0px 0px 10px;
	color: #777;
}
.wcm_filtro a:hover{
	padding: 0px 0px 0px 10px;
	color: #0A8ECC;
}
.wcm_topo_tabela {
	width:auto;
	height:auto;
	padding:0px 10px 10px 10px;
}
.wcm_paginacao{
	width:auto;
	height:auto;
	background-color:#fff;
	padding:0px 0px 0px 10px;
	color:#777;
}
.wcm_paginacao .wcm_pagina{
	width:20px;
}

/**********************************/

    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        display: block;
        height: 400px;
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        line-height: 1;
    }

    /************************************/
    
    
    /*
Code snippet by maridlcrmn for Bootsnipp.com
Follow me on Twitter @maridlcrmn
*/

.navbar-brand { position: relative; z-index: 2; }

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; }

.navbar .navbar-collapse { position: relative; }
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
.navbar.navbar-inverse .nav-collapse { background-color: #222; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; } 
    
    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }
}



/*******************************

************/


    		.carousel-control.left
			{
				background: none;
			}
			.carousel-control.right
			{
				background: none;
			}

			.carousel-control
			{
				position: absolute;
				top: 45%;
				bottom: 0;
				left: 0;
				width: 15%;
				font-size: auto;
				color: #fff;
				text-align: center;
				opacity: 1;
				text-shadow: none;
			}
			.carousel-control:hover
			{
				color: #000;
			}
			.carousel-indicators
			{
				bottom: -50px;
			}
			.carousel-indicators li
			{
				display: inline-block;
				width: 10px;
				height: 10px;
				margin: 1px;
				text-indent: -999px;
				cursor: pointer;
				background-color: #000\9;
				background-color: rgba(0,0,0,0);
				border: 1px solid #16a085;
				border-radius: 50%;
			}
			.carousel-indicators .active
			{
				width: 12px;
				height: 12px;
				margin: 0;
				background-color: #16a085;
			}
		